<!DOCTYPE html>
<html>
    <head>
        <title>Reportes</title>
        <meta charset="utf-8">
    </head>
    <body>

        <app-barra-navegacion></app-barra-navegacion>

        <app-btns-tablas-reportes></app-btns-tablas-reportes>

        <div class="buscador"  *ngIf="reportes.length">
            <input type="text" name="busqueda" placeholder="Buscar" [(ngModel)]="busqueda">
        </div>
        
        <div class="div-tabla">
            <table class="tabla hover">
                <tr class="cabecera">
                    <th>Folio</th>
                    <th>Puntos de credibilidad</th>
                    <th>Fecha de creación</th>
                    <th>  Urgencia</th>
                    <th class="acciones">Detalles</th>
                    <th class="acciones">Cambiar estado</th>
                </tr>
                <tr *ngFor="let reporte of reportes | busquedaReportes: busqueda">
                    <td *ngIf="reporte.promTiempoCronico"title="Este problema de {{reporte.tipoProblema}} ha ocurrido en promedio cada {{reporte.promTiempoCronico}} días">{{ reporte._id }}</td>
                    <td *ngIf="!reporte.promTiempoCronico" title=" Problema de {{reporte.tipoProblema}}">{{ reporte._id }}</td>
                    <th (mousedown)="Pinnear(1, reporte._id)" (mouseup)="Pinnear(2, reporte._id)">{{ reporte.credibilidad }}</th>
                    <td (mousedown)="Pinnear(1, reporte._id)" (mouseup)="Pinnear(2, reporte._id)">{{ reporte.fechaCreacion | date:'dd-MM-yyyy' }}</td>
                    <td (mousedown)="Pinnear(1, reporte._id)" (mouseup)="Pinnear(2, reporte._id)">{{ reporte.urgencia }}</td>
                    <td class="acciones"><a class="imagen-especial" (click)="openCentrado(contenido, reporte)">Ver más</a></td>
                    <td class="acciones">
                        <button class="boton-aceptar" (click)="cambioSolucionado(reporte);">Solucionado</button>
                        <button class="boton-eliminar" (click)="cambioDenegado(reporte);">Denegado</button>
                    </td>

                    <ng-template #contenido let-modal>
                    <div id="ContenedorDescarga">
                        <div class="modal-header">
                            <h4 class="modal-title">Reporte <b>{{reporte._id}}</b><button class="btnDescargar" (click)="Descargar(reporte)"><i class="fas fa-file-download" ></i></button>
                            </h4>
                            <button class="" aria-label="close" type="button" (click)="modal.dismiss()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div> 
                        <div class="modal-body"> 
                          <h5> <b>Tipo de problema: </b> {{reporte.tipoProblema}} <br></h5>
                          <h5> <b>Estado: </b>   {{reporte.estado}} <br></h5>
                          <h5> <b>Fecha de creación: </b>  {{reporte.fechaCreacion | date:'dd-MM-yyyy'}} <br></h5>
                          <h5> <b>Comentarios: </b> <br></h5>
                          <p *ngIf="reporte.comentario == ''" >   No hay comentarios  <br></p>
                          <p *ngIf="reporte.comentario.length > 0">   {{reporte.comentario}}  <br></p>
                          <h5> <b>Imagen del reporte</b> <br></h5>
                          <p *ngIf="!urlImagen.length" >   No hay imagen  <br></p>
                          <img *ngIf="urlImagen.length" src="{{urlImagen}}" class="imagenReporte">

                          <h5> <b>Usuarios que lo reportaron:</b> </h5>
                          <table class="tablaUsuariosDentroReporteInfo table table-bordered row-border hover">
                            <thead>
                              <tr>
                                <th>Idenficador</th>
                                <th>Nombre</th>
                                <th>Reputación</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let u of usuariosInfo">
                                <td>{{u._id}}</td>
                                <td>{{u.nombreUsuario}}</td>
                                <td>{{u.reputacion}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                    </ng-template>

                </tr>
            </table>
        </div>


        
        <div id="divSelects" class="container contenedorOF">
          <div class="row containerBlock">
                  <h3>Ordenar por:</h3>
                      <select name="" id="" class="select-css col-md-2" (change)="Ordenamientos($any($event.target).value )">
                          <option value="">Selecciona una opción</option>
                          <option *ngFor="let o of orden" value="{{o}}" >
                              {{o}}
                          </option>
                      </select>

                  <br><h3>Filtrar por:</h3>
                      <select name="" id="" class="select-css col-md-2" (change)="FiltradosTipo($any($event.target).value )">
                          <option *ngFor="let f of filtros" value="{{f}}" >
                              {{f}}
                          </option>
                      </select>
                      <select name="" id="" class="select-css col-md-2" (change)="FiltradosMunicipios($any($event.target).value )">
                          <option *ngFor="let m of nombresMunicipios" value="{{m}}" >
                              {{m}}
                          </option>
                      </select>
                      <button class="col-md-2" (click)="AbrirMapa(mapaFiltrado)">Zona especial</button>
                      <p><input type="checkbox" name="cronicos" id="filtradoCronicos" (change)="FiltradosCronicos($any($event.target).value )">Problemas cronicos</p>
                      
                  <h3>Fecha</h3>
                      <select name="" id="selectMes" class="select-css col-md-2"  aria-label="Default select example"  (change)="mesSeleccionado($any($event.target).value )">
                          <option *ngFor="let m of meses" value="{{m}}" id="{{m}}">
                              {{m}}
                          </option>
                      </select>
                      <select name="" id="selectAno" class="select-css col-md-2"  aria-label="Default select example" (change)="anoSeleccionado($any($event.target).value )">
                          <option *ngFor="let a of anos" value="{{a}}" >
                              {{a}}
                          </option>
                      </select>
                        <p *ngIf="fechaMayor" class="error">Fecha seleccionada no válida</p>
                        <p *ngIf="fechaMayor" class="error">Se muestra el mes actual</p>
              </div>
          </div>


          <ng-template #mapaFiltrado let-modal>
              <div class="modal-header">
                  <p class="modal-title">Selecciona las dos ubicaciones en las cuales quieres filtrar los reportes</p>
                  <button class="" aria-label="close" type="button" (click)="modal.dismiss()">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div> 
              <div class="modal-body"> 
                  <div id="marco2" class="marco"></div>
                <div id="mapa">  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-success" (click)="filtradoMapa()"> Filtrar </button>
              </div>
            </ng-template>


        <div class="div-tabla" *ngIf="!reportes.length">
            <h1>No hay reportes en proceso</h1>
        </div>

     </body>
 
 </html>
