input {
    margin-top: 0;
    margin-bottom: 0;
}

.noValido {
    border: solid 2px rgb(238, 61, 61);
}

.noValidoMensaje {
    opacity: 0;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
    padding: 0;
    color: red;
}

.activar {
    opacity: 1;
}